body {
  background-color: #17c3b4;
}
div, p .match{
  text-align: center;
}
.heading {
  font-weight: bold;
  text-decoration: underline;
}
a {
  width: 10%;
  height: auto;
  margin: 10px 10px;
}
img {
  border: 1px solid black;
  margin: 20px auto;
}
.choice {
  text-align: center;
}
.score {
  width: 50%;
  margin: 2% auto;
}
.yourScore {
  float: left;
  width: 50%;
  border: 1px solid black;
}
.compScore {
  margin-left: 50%;
  width: 50%;
  border: 1px solid black;
}
.selections {
  text-align: center;
  margin: 20px auto;
  display: inline;
}
.playerChoice {
  float: left;
  width: 50%;
  height: 30%;
  margin-bottom: 8%;
  position: absolute;
}
.compChoice {
  margin-left: 50%;
  width: 50%;
  height: 30%;
  margin-bottom: 8%;
  position: absolute;
}
.results {
  position: absolute;
}
.container {
  text-align: center;
  border: 1px solid black;
}
